%h3.info-title 更新履歴
%ul.info
  %li 2017/05/18　投稿機能の実装
  %li 2017/05/18　ユーザー登録機能の実装
  %li 2017/05/20　一部デザインの修正
%br
%h3.info-title 実装予定
%ul.info
  %li 画像投稿機能
  %li いいね！機能
  %li ユーザー管理機能
  %li フォロー・リフォロー機能
  %li 検索機能
  %li 自動更新機能
  %li RT機能
  %li リプライ機能
