// function buildSearchHTML(user) {
//   var insertImage = "";
//   if (user.icon.thumb.url) {
//     insertImage = '<img src="' + user.icon.thumb.url +'" class="tweet-icon">';
//   }
//   var html =
//   '<a href="/users/' + user.id + '">' +
//     '<div class="tweet-wrapper">' +
//       '<div class="tweet-follow">' + '</div>' +
//       insertImage +
//       '<div class="tweets-nickname">' + '<h4>' + user.nickname + '</h4>' + '</div>' +
//       '<div class="tweets-username">' + '<h5>@' + user.username + '</h5>' + '</div>' +
//       '<div class="clear">' + '</div>' +
//     '</div>'
//   '</a>';
//   return html;
// }

// console.log("hey");

// var insertHTML = "";
// data.forEach(function(user) {
//   insertHTML += buildSearchHTML(user);
// });
// $('#user-search-result').html(insertHTML);
