= render 'tweets/left-content'

%ul.nav.nav-tabs.search-tabs-head
  %li.nav-item
    %a.nav-link{ href: "#like-index", "data-toggle": "tab"}
      人気のツイート
  %li.nav-item.active
    %a.nav-link{ href: "#user-index", "data-toggle": "tab"}
      ユーザー検索
  %li.nav-item
    %a.nav-link{ href: "#tweet-index", "data-toggle": "tab"}
      ツイート検索

.tab-content.search-tabs-content
  #like-index.tab-pane
    .tweets-wrapper
      = render partial: 'tweets/tweets', collection: @like_tweets, as: :tweet

  #user-index.tab-pane.active
    .search-box
      %input#user-search{ class: "search-box-input",placeholder: "検索するユーザー名を入力してください", autocomplete: "off" }
        .tweets-wrapper
          #user-search-result

  #tweet-index.tab-pane
    .search-box
      %input#tweet-search{ class: "search-box-input",placeholder: "検索するキーワードを入力してください", autocomplete: "off" }
        .tweets-wrapper
          #tweet-search-result
