.mypage
  %h2= current_user.nickname
  %h3= "@" + current_user.username

  = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default"
  %br
  %br
= render partial: 'tweets/tweets', collection: @tweets, as: :tweet
