body {
  font-family: Arial,”ヒラギノ角ゴ Pro W3″,”Hiragino Kaku Gothic Pro”,Osaka,”メイリオ”,Meiryo,”ＭＳ Ｐゴシック”,”MS PGothic”,sans-serif;
  position: relative;
}

.body-wrapper {
  background-color: #f5f8fa;
  height: calc(100vh - 48px);
  width: 100vw;
  overflow: auto;
  position: absolute;
  top: 48px;
  padding: 10px;
}

.tweets-wrapper {
  float: left;
  margin: 0 10px;
  border: solid 1px #e6ecf0;
  border-radius: 10px;
  background-color: white;
}

.tweet-wrapper {
  display: block;
  margin-left: 0 10px;
  padding: 20px;
  width: 590px;
  text-align: left;
  border-bottom: solid 1px #e6ecf0;
  &:hover {
    background-color: #f5f8fa;
  }
}

.tweet-icon {
  border-radius:5px;
  float: left;
  margin: 0 10px 10px 0;
}

.tweet-follow {
  float: right;
}

.tweets-nickname {
  float: left;
  color: black;
}

.tweets-username {
  float: left;
  line-height: 16px;
  color: $light-gray;
  padding-left: 5px;
}

.tweets-content {
  font-size: 18px;
  clear: both;
  color: black;
}

.tweety-image {
  margin: 0px;
}

.tweet-image-border {
  border-radius: 10px;
}

.tweets-time {
  color: $light-gray;
}

.btn-group {
}

.like-link {
  float: left;
}

.glyphicon {
  margin: 2px;
}

.glyphicon-heart {
  color: red;
}

.glyphicon-heart-empty {
  &:hover {
    color: red;
  }
}

.clear {
  clear: both;
}
