header {
  position: fixed;
  background-color: white;
  width: 100vw;
  text-align: center;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.header-wrapper {
  position: relative;
  background: #fff;
  height: 46px;
}

.fa.fa-twitter {
  color: $blue;
  font-size: 30px;
  margin: 0 auto;
  line-height: 50px;
  cursor: pointer;
}

.nav-left {
  position: absolute;
  left: 5px;
  top: 5px;
  margin-right: 12px;
  margin-left: 20px;
  text-align: left;
  list-style: none;
}

.nav-left li {
  float: left;
  color: #66757f;
  &:hover {
    color: red;
  }
}

.nav-right {
  position: absolute;
  right: 0px;
  top: 5px;
  margin-left: 20px;
  text-align: center;
  list-style: none;
}

.right-btn {
  float: left;
  margin-left: 10px;
  margin-top: -3px;
}

.right-btn-input {
  box-sizing: border-box;
  width: 60%;
  height: 32px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  line-height: 16px;
  color: #14171a;
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  border-radius: 21px;
  float: left;
  margin: 2px 0px 0 0;
  text-align: center;
  position: relative;
}

.glyphicon-search {
  position: absolute;
  left: 130px;
  top: 9px;
  color: #66757f;
}

.glyphicon-user {
  font-size: 22px;
  border-radius: 50px;
  border-color: #66757f;
  color: #66757f;
  padding: 0px 5px;
  &:hover {
    text-decoration: none;
  }
}


.head-btn {
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: 500;
  height: 46px;
  line-height: 31px;
  padding: 0 14px 0 4px;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

.glyphicon-info-sign {
  background-color: white;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 18px;
}

.glyphicon-edit {
  background-color: $blue;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  height: 32px;
  opacity: 1;
  padding: 18px 7px;
  line-height: 1px;
  border: none;
}
.info-title {
  margin-left: 20px;
}

.info {
  list-style: disc;
  margin-left: 60px;
}

.flash {
  border-radius: 8px;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 20px;
  &__notice {
  background-color: $blue;
  }
  &__alert {
    background-color: red;
  }
}
