.apply-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  margin: auto;
  background-color: rgba(229, 241, 255, 1);
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 590px;
  height: 213px;
  text-align: center;
  display: block;
}

.glyphicon-remove {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
  font-size: 30px;
}

.tweet-field {
  width: 538px;
  height: 80px;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 5px;
}

.actions-tweet {
  position: relative;
}

.tweet-image {
  margin: 5px 0 0 30px;
}

.tweet-btn {
  margin: -70px 0 0 470px;
}

.follow-btn {
  color: red;
  border-color: red;
  transition: all .3s;
  &:hover {
    color: red;
    border-color: red;
    background-color: rgba(255,0,0,0.2);
  }
}

.unfollow-btn {
  color: white;
  border-color: rgb(29,161,242);
  background-color: rgb(29,161,242);
  transition: all .3s;
  &:hover {
    color: white;
    border-color:rgba(255,0,0,0.7);
    background-color: rgba(255,0,0,0.7);
  }
}

.tab-content {
  margin: 10px;
}
