%header
  .header-wrapper
    -if current_user
      =link_to information_users_path do
        .btn.btn-default.glyphicon.glyphicon-info-sign
      .btn.btn-default.glyphicon.glyphicon-edit
    %h1.title TECH::TWEET

= render 'tweet_modal', tweet: @tweet
